@import  '../../assets/stylesheets/mediaQueries.scss';

.LearnMoreContainer{
    position: relative;
    padding:0;
    height: auto;
    min-height: 80%;
    overflow:hidden;
    background: url('../../assets/images/banner/banner-2.jpg') no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    .row{
        margin: 0;
    }

    .learnMoreTextContainer{
        padding: 0;
        margin-top: 15%;
        font-family: 'Montserrat', sans-serif;
        color: #613476;
        align-items: center;
        justify-content: center;
    }
}

@include small {
    .LearnMoreContainer{
        padding:0;
        height: 80%;
        // overflow:hidden;
        background: url('../../assets/images/banner/banner-2.jpg') no-repeat center; 
        background-position-x: 30%;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    
    }
}

@include extraSmall {
    .LearnMoreContainer{
        padding:0;
        height: 80%;
        // overflow:hidden;
        background: url('../../assets/images/banner/banner-2.jpg') no-repeat  center; 
        background-position-x: 30%;

        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    
    }
}

.learnMoreBtn{
    padding:0;
    position: relative;
    left: 15px;
}

@include medium{
    .learnMoreBtn{
        position: relative;
        left: 0;
    }
}

@include small{
    .learnMoreBtn{
        position: relative;
        left: 0;
    }
}

@include extraSmall{
    .learnMoreBtn{
        position: relative;
        left: 0;
    }
}



