@import  '../../assets/stylesheets/mediaQueries.scss';

.meetContainer{
    padding:0;
    height: 80%;
    overflow:hidden;
    background: url('../../assets/images/banner/banner-1.jpg') no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    .row{
        margin: 0;
    }

    .meetTextContainer{
        padding: 0;
        margin-top: 15%;
        font-family: 'Montserrat', sans-serif;
        color: #613476;
        align-items: center;
        justify-content: center;
    }
}

@include small {
    .meetContainer{
        padding:0;
        height: 80%;
        background: url('../../assets/images/banner/banner-1.jpg') no-repeat center; 
        background-position-x: 60%;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    
    }
}

@include extraSmall {
    .meetContainer{
        padding:0;
        height: 80%;
        background: url('../../assets/images/banner/banner-1.jpg') no-repeat center center;
        background-position-x: 60%;

        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    
    }
}

.meetTheTeamBtn{
    padding:0;
    position: relative;
    left: 15px;
}

@include medium{
    .meetTheTeamBtn{
        position: relative;
        left: 0;
    }
}

@include small{
    .meetTheTeamBtn{
        position: relative;
        left: 0;
    }
}

@include extraSmall{
    .meetTheTeamBtn{
        position: relative;
        left: 0;
    }
}



