@import  '../../assets/stylesheets/mediaQueries.scss';

.meetContainer{
    padding:0;
    height: 80%;
    overflow:hidden;



    .meetImgContainer{
        height:100%;
        padding:0;


        .meetImg{
            width:100%;
            max-height: 100%;
            
        }
    }

    .meetTextContainer{
        // position: absolute;
        height:100%;
        font-family: 'Montserrat', sans-serif;
        color: #613476;

        .meetTitle{
            top: 30%;
            margin-bottom: 2%;
        }
    }

}

@include medium{
    .meetContainer{
        margin-top:6%;
        padding:0;
        height: 32%;
        overflow:hidden;
        text-align: center;

    }
}


@include small{
    .meetContainer{
        margin-top:10%;
        padding:0;
        height: 40%;
        text-align: center;
    }
}

@include extraSmall{
    .meetContainer{
        margin-top:10%;
        padding:0;
        height: 40%;
        overflow:hidden;
        text-align: center;
    }
}