@import  '../../assets/stylesheets/mediaQueries.scss';

.navBarContainer {
    margin:0;
    font-family: 'Montserrat', sans-serif;
    overflow:hidden;
}



    //NavBar on Scroll
    .navBarShrink {
        padding: 0;
        width: 100%;
        height:  auto;
        -webkit-transition: all 0.8s ease;
        transition: all 0.8s ease;
        position: fixed;
        overflow-x: none;
        box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
    }

    
//     nav.container-fluid.navBarContainer.navSizeGrow.navbar.navbar-expand-md.navbar-dark.bg-clear.sticky-top:hover
// {
//    background-color: #343a40;
// }

// nav.container-fluid.navBarContainer.navSizeGrow.navbar.navbar-expand-md.navbar-dark.bg-clear.sticky-top.collapsed:hover{
//    background-color: none;
// }
    
    .navSizeGrow {
        padding: 0;
        width: 100%;
        height: auto;
        -webkit-transition: all 0.8s ease;
        transition: all 0.8s ease;
        position: fixed;
    }
    
    // @include medium {
    //     html:not([data-scroll='0']){
    //         div#responsive-navbar-nav { 
    //             background-color: #343a40; 
    //         }
    //     }
    // }



    @include extraSmall {
        html:not([data-scroll='0']) {
            div#responsive-navbar-nav { 
                background-color: #343a40; 
            }
        }
    }