@import  '../../assets/stylesheets/mediaQueries.scss';

.navBarContainer {
    margin:0;
    font-family: 'Montserrat', sans-serif;
    overflow:hidden;
}

    .navBarShrink {
        padding: 0;
        width: 100%;
        height:  auto;
        -webkit-transition: all 0.8s ease;
        transition: all 0.8s ease;
        position: fixed;
        overflow-x: none;
        box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
    }

    .logoImg{
        width:150px;
        vertical-align:top;
    }
    
    .navSizeGrow {
        padding: 0;
        width: 100%;
        height: auto;
        -webkit-transition: all 0.8s ease;
        transition: all 0.8s ease;
        position: fixed;
    }
    
    @include extraSmall {
        html:not([data-scroll='0']) {
            div#responsive-navbar-nav { 
                background-color: #343a40; 
            }
        }
    }